{% extends 'base.html.twig' %}

{% block nav %}

{% endblock %}

            {% block message %}
                {% for message in app.flashes('success') %}
                    {{ message }}
                {% endfor %}
            {% endblock %}

{% block body %}
    <div class="x_content" style="width: 50%; margin-left: 25%; margin-top: 5%">
        <h3>Добавить новую поставку</h3>
        {{ form_start(form) }}
        {{ form_end(form) }}
        <a type="button" class="btn btn-info" href="{{ path('product') }}">Добавить товар</a>
        <a type="button" class="btn btn-info" href="{{ path('provider') }}">Добавить поставщика</a>
        <div class="content" style="margin-top: 5%">
            <h3>Поставщики у которых > 1 поставки</h3>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя поствщика</th>
                    </tr>
                </thead>
                <tbody>
                    {% for provider in providers %}
                        <tr>
                            <td>{{ provider.idProvider }}</td>
                            <td>{{ provider.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}